---
networks:
  ${PROXY_NETWORK:-frontend}:
    external: true
services:
  collaboration:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.collaboration.entrypoints=${TRAEFIK_HTTPS}"
      - "traefik.http.routers.collaboration.rule=Host(`${WOPISERVER_DOMAIN:-wopiserver.opencloud.test}`)"
      - "traefik.http.routers.collaboration.${TRAEFIK_SERVICES_TLS_CONFIG}"
      - "traefik.http.routers.collaboration.tls=true"
      - "traefik.http.routers.collaboration.service=collaboration"
      - "traefik.http.services.collaboration.loadbalancer.server.port=9300"
    networks:
      - ${PROXY_NETWORK:-frontend}
  collabora:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.collabora.entrypoints=${TRAEFIK_HTTPS}"
      - "traefik.http.routers.collabora.rule=Host(`${COLLABORA_DOMAIN:-collabora.opencloud.test}`)"
      - "traefik.http.routers.collabora.${TRAEFIK_SERVICES_TLS_CONFIG}"
      - "traefik.http.routers.collabora.tls=true"
      - "traefik.http.routers.collabora.service=collabora"
      - "traefik.http.services.collabora.loadbalancer.server.port=9980"
    networks:
      - ${PROXY_NETWORK:-frontend}
