---
networks:
  ${PROXY_NETWORK:-frontend}:
    external: true
services:
  keycloak:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.entrypoints=${TRAEFIK_HTTPS}"
      - "traefik.http.routers.keycloak.rule=Host(`${KEYCLOAK_DOMAIN:-keycloak.opencloud.test}`)"
      - "traefik.http.routers.keycloak.${TRAEFIK_SERVICES_TLS_CONFIG}"
      - "traefik.http.routers.keycloak.tls=true"
      - "traefik.http.routers.keycloak.service=keycloak"
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
    networks:
      - ${PROXY_FRONTEND:-frontend}
