---
networks:
  frontend: #${PROXY_NETWORK:-frontend}:
    external: true

services:
  opencloud:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.opencloud.entrypoints=${TRAEFIK_HTTPS}"
      - "traefik.http.routers.opencloud.rule=Host(`${OC_DOMAIN:-cloud.opencloud.test}`)"
      - "traefik.http.routers.opencloud.service=opencloud"
      - "traefik.http.services.opencloud.loadbalancer.server.port=9200"
      - "traefik.http.routers.opencloud.${TRAEFIK_SERVICES_TLS_CONFIG}"
      - "traefik.http.routers.opencloud.tls=true"
    networks:
      - frontend #${PROXY_NETWORK:-frontend}
